@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg_gradient {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 12% 11%,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 12% 11%,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 12% 11%,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 12% 11%,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 12% 11%,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );
}
